@import "https://fonts.googleapis.com/css?family=Roboto:0,600;0,400;0,300;0,500&display=swap";
@import "https://fonts.googleapis.com/css?family=DM+Serif+Text:0,400&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto:0,600;0,400;0,300;0,500&display=swap";
.Frame_1_16_2 {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  width: 100%;
  height: 100%;
}
.Rectangle_1_1_2 {
  fill: #fff;
  filter: drop-shadow(0 4px 4px #00000040);
  flex-shrink: 0;
  width: 515px;
  height: 341px;
}
.unsplash {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex-shrink: 0;
  width: 515px;
  height: 341px;
}
.heading {
  color: #fff;
  backdrop-filter: blur(2px);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 213px;
  height: 37px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 155%;
  display: inline-block;
}
.text-wrapper {
  color: #fffc;
  backdrop-filter: blur(2px);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 163px;
  height: 99px;
  font-family: Roboto;
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Rectangle_20_473_65 {
  background: #d1e9f6;
  flex-shrink: 0;
  width: 515px;
  height: 85px;
}
.file-delivery,
.file-delivery-2 {
  background: #d3d3d3 url(<path-to-image>) 50% / contain no-repeat;
  flex-shrink: 0;
  width: 39px;
  height: 22px;
}
.text-wrapper-2 {
  color: #000;
  backdrop-filter: blur(2px);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 237px;
  height: 99px;
  font-family: Roboto;
  font-size: 8px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  display: inline-block;
}
.abcd-falan-dhimkhana,
.abcd-falan-dhimkhana-2,
.abcd-falan-dhimkhana-3 {
  color: #000;
  text-align: center;
  backdrop-filter: blur(2px);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 237px;
  height: 99px;
  font-family: Roboto;
  font-size: 7px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  display: inline-block;
}
.text-wrapper-3,
.text-wrapper-4 {
  color: #000;
  backdrop-filter: blur(2px);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 237px;
  height: 99px;
  font-family: Roboto;
  font-size: 8px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  display: inline-block;
}
.text-wrapper-5 {
  color: #fff;
  text-align: center;
  flex-shrink: 0;
  width: 79px;
  height: 9px;
  font-family: Roboto;
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
.text-wrapper-6 {
  color: #fff;
  text-align: center;
  flex-shrink: 0;
  width: 85px;
  height: 9px;
  font-family: Roboto;
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
.text-wrapper-7 {
  color: #fff;
  text-align: center;
  flex-shrink: 0;
  width: 120px;
  height: 9px;
  font-family: Roboto;
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
.text-wrapper-8 {
  color: #fff;
  text-align: center;
  flex-shrink: 0;
  width: 85px;
  height: 9px;
  font-family: Roboto;
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
.rectangle-2 {
  background: #fff;
  flex-shrink: 0;
  width: 49px;
  height: 21px;
}
.LOGIN {
  color: #000;
  text-align: center;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 51px;
  height: 11px;
  font-family: Roboto;
  font-size: 6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
.lock-open {
  aspect-ratio: 5/6;
  fill: #000;
  flex-shrink: 0;
  width: 5px;
  height: 6px;
}
.text-wrapper-9 {
  color: #fff;
  flex-shrink: 0;
  width: 71px;
  height: 19px;
  font-family: DM Serif Text;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
.winter {
  background: #d3d3d3 url(<path-to-image>) 50% / contain no-repeat;
  flex-shrink: 0;
  width: 16px;
  height: 29px;
}
.rectangle-3 {
  background: #fff;
  flex-shrink: 0;
  width: 58px;
  height: 28px;
}
.GET-STARTED {
  color: #000;
  text-align: center;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 51px;
  height: 11px;
  font-family: Roboto;
  font-size: 7px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
