/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(5px);
    position: relative;
    z-index: 10;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 2.5rem;
    margin-right: 0.75rem;
  }
  
  .navbar-brand {
    font-family: 'DM Serif Text', serif;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .navbar-links {
    display: flex;
    gap: 2rem;
    margin-left: 39rem;
  }
  
  .nav-link {
    color: var(--white);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--white);
    transition: width 0.3s;
  }
  
  .nav-link:hover:after, .nav-link.active:after {
    width: 100%;
  }
  
  .navbar-auth {
    display: flex;
  }
  
  .auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.25rem;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-bottom: 0.2rem;
  }
  
  .auth-button:hover {
    transform: translateY(-1px);
    color: #000000;
    background-color: #F3F7EC;
  }
  
  .login-icon {
    width: 0.7rem;
    margin-right: 0.4rem;
    margin-bottom: 0.3rem;
  }